/* ========== Company credo ========== */

.company-credo {
  padding: 94px 0;
}

.credo {
  display: flex;
}

.credo .credo-cards + .credo-cards {
  margin-left: 30px;
}

.credo-cards {
  width: 270px;
  /* height: 101px;*/
}
/* .credo-cards:not(:last-child) {
  margin-right: 30px;
} */

.credo .title-icon {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $primary-button-color;
  border-radius: 4px;
  margin-bottom: 30px;
}

.credo .title {
  height: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;

  color: $primary-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}

.credo .text {
  /* height: 75px; */
  color: $primary-text-color;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
