//    Footer

.footer {
  background-color: $background-color;
  padding: 60px 0;
}

.container_footer {
  display: flex;
  align-items: baseline;
}

.nav__site--footer {
  display: block;
  margin-bottom: 20px;
  height: 31px;
  color: $primary-white-color;
}

//     Addresses

.addresses {
  font-style: normal;

  &__map {
    margin-bottom: 9px;
    height: 21px;
    color: $primary-white-color;
    font-size: 14px;
    line-height: 1.7;
  }

  &__link {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
  }

  &__contact {
    height: 21px;
  }

  &__contact:not(:last-child) {
    margin-bottom: 9px;
  }

  &__contact:last-child {
    margin-bottom: 0px;
  }
}

//      Invitation

.invitation {
  margin-left: 70px;
  align-items: baseline;

  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;
  }
}

//     Social  in ( _global-styles.scss )
.social__icon--footer {
  fill: $primary-white-color;
  background-color: rgba(225, 225, 225, 0.1);

  transition: background-color $transition-duration-timing;
}

.social__icon--footer:hover,
.social__icon--footer:focus {
  background-color: $accent-coolor;
}

//      Form-footer

.form-footer {
  margin-left: 93px;
  align-items: baseline;
  width: 570px;

  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;
  }

  &__subscrib {
    display: flex;
    align-items: baseline;
  }

  &__input {
    height: 50px;
    width: 100%;
    margin-right: 12px;
    background-color: $background-color;
    border: 1px solid $border-color;
    border-radius: 4px;
  }

  &__input::placeholder {
    display: flex;
    align-items: centr;
    padding-left: 16px;
    color: $primary-white-color;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    padding: 10px 30px;
    //  Button in ( _global-styless.scss)
    @extend %button;

    letter-spacing: 0.06em;
    border: none;

    transition: background-color $transition-duration-timing;
  }

  &__icon {
    margin-left: 10px;
  }

  &__button:hover,
  &__button:focus {
    background-color: #188ce8;
  }
}
